<p>sports-homepage works!</p>

<div class="container">
    <table>
        <div>
            <h3>Tennis</h3>
            <input type="text" [(ngModel)]="searchValueTennis" placeholder="Tennis filter" id="modelTennis">
        </div>
        <br>
        <tr>
            <th>Publication Date</th>
            <th>Winner</th>
            <th>Loser</th>
            <th>No. of Sets</th>
            <th>Tournament</th>
        </tr>
        <!-- <tr *ngFor="let tennis of filteredTennisData | searchFilterTennis:searchValueTennis" (mousemove)="onMouseMove()"> -->
        <tr *ngFor="let tennis of filteredTennisData">
            <td>{{tennis.publicationDate}}</td>
            <td>{{tennis.winner}}</td>
            <td>{{tennis.looser}}</td>
            <td>{{tennis.numberOfSets}}</td>
            <td>{{tennis.tournament}}</td>
        </tr>
    </table>
</div>

<br>

<div class="container">
    <table>
        <div>
            <h3>F1 Racing</h3>
            <input type="text" [(ngModel)]="searchValueF1" placeholder="F1 filter" id="modelF1">
        </div>
        <br>
        <tr>
            <th>Publication Date</th>
            <th>Winner</th>
            <th>Seconds</th>
            <th>Tournament</th>
        </tr>
        <tr *ngFor="let f1 of filteredF1Data">
            <td>{{f1.publicationDate}}</td>
            <td>{{f1.winner}}</td>
            <td>{{f1.seconds}}</td>
            <td>{{f1.tournament}}</td>
        </tr>
    </table>
</div>

<br>

<div class="container">
    <table>
        <div>
            <h3>NBA</h3>
            <input type="text" [(ngModel)]="searchValueNba" placeholder="NBA filter" id="modelNba">
        </div>

        <br>

        <tr>
            <th>Publication Date</th>
            <th>Winner</th>
            <th>Loser</th>
            <th>Game Number</th>
            <th>MVP</th>
            <th>Tournament</th>
        </tr>
        <tr *ngFor="let nba of filteredNbaData">
            <td>{{nba.publicationDate}}</td>
            <td>{{nba.winner}}</td>
            <td>{{nba.looser}}</td>
            <td>{{nba.gameNumber}}</td>
            <td>{{nba.mvp}}</td>
            <td>{{nba.tournament}}</td>
        </tr>
    </table>
</div>